In [1]:
import pandas as pd
import os
import sys
import glob
sys.path.insert(0, '../')

### Import data for one stock

In [4]:
ph_df = pd.read_csv('../data/price-volume-data-for-all-us-stocks-etfs/Stocks/ph.us.txt')

In [8]:
ph_df[ph_df.Date == '2017-01-05']

            Date    Open    High     Low   Close  Volume  OpenInt
7944  2017-01-05  140.04  140.35  137.65  139.07  567140        0

### Run through stocks we pulled data from IEX for. Update the .csv file with this historical data

In [29]:
def add_historic_data_to_current_csv():
    current_data_file_path = '../data/historical_stock_data'
    augmented_data_file_path = '../data/updated_historical_stock_data'
    historic_data_file_path = '../data/price-volume-data-for-all-us-stocks-etfs/Stocks'

    for file in glob.glob(f'{current_data_file_path}/*.csv'):
        stock_name = file.rsplit("/")[-1].split('_')[0].lower() # note: store all stock names as uppercase
        # find the stock name in historical kaggle dataa
        for historical_file in glob.glob(f'{historic_data_file_path}/*.txt'):
            historical_stock_name = historical_file.split("/")[-1].split(".")[0]
            
            if stock_name == historical_stock_name:
                print(f"Found historical data for {stock_name}")
                # read in current data
                current_stock_data = pd.read_csv(f"{file}")
                historical_stock_data = pd.read_csv(f"{historical_file}")
                historical_stock_data.columns = map(str.lower, historical_stock_data.columns)
                print('')

                oldest_date_of_new_data = current_stock_data.date.min()

                # get the new data we don't have yet
                historical_stock_data[historical_stock_data.date < oldest_date_of_new_data]
                historical_stock_data.drop('openint', inplace=True, axis=1)
                print(historical_stock_data.date)
                print(current_stock_data.date)

                # concat historical with current data
                combined_stock_df = pd.concat([current_stock_data, historical_stock_data])
                print(combined_stock_df.groupby('date').count().sort_values(ascending=False, by='open'))
                most_recent_date = combined_stock_df.date.max()
                most_recent_year, most_recent_month, most_recent_day = most_recent_date.split('-')

                oldest_date = combined_stock_df.date.min()
                oldest_year, oldest_month, oldest_day = oldest_date.split('-')
                
                # save the file
                combined_stock_df.to_csv(f'{augmented_data_file_path}/{stock_name.lower()}_{int(oldest_year)}-{int(oldest_month)}-{int(oldest_day)}_to_{int(most_recent_year)}-{int(most_recent_month)}-{int(most_recent_day)}.csv',
                                         index=False)
                # delete the old file only if we haven't  updated it
                # os.remove(f"{file}")
                break

        # # if we don't have historical data , save the original data into the augmented folder
        # if os.path.isfile(f'{augmented_data_file_path}/{stock_name.lower()}_{int(oldest_year)}-{int(oldest_month)}-{int(oldest_day)}_to_{int(most_recent_year)}-{int(most_recent_month)}-{int(most_recent_day)}.csv'):
        #     pass
        # else:
        #     current_stock_data = pd.read_csv(f"{file}")
        #     current_stock_data.to_csv(f"{augmented_data_file_path}/)

In [30]:
add_historic_data_to_current_csv()

Found historical data for bac
0       1986-05-29
1       1986-05-30
2       1986-06-02
3       1986-06-03
4       1986-06-04
           ...
7924    2017-11-06
7925    2017-11-07
7926    2017-11-08
7927    2017-11-09
7928    2017-11-10
Name: date, Length: 7929, dtype: object
0      2017-01-03
1      2017-01-04
2      2017-01-05
3      2017-01-06
4      2017-01-09
          ...
823    2020-04-13
824    2020-04-14
825    2020-04-15
826    2020-04-16
827    2020-04-17
Name: date, Length: 828, dtype: object
            open  high  low  close  volume
date
2017-11-06     2     2    2      2       2
2017-04-10     2     2    2      2       2
2017-04-26     2     2    2      2       2
2017-04-25     2     2    2      2       2
2017-04-24     2     2    2      2       2
...          ...   ...  ...    ...     ...
1997-08-20     1     1    1      1       1
1997-08-19     1     1    1      1       1
1997-08-18     1     1    1      1       1
1997-08-15     1     1    1      1       1
2020-04-17     1     1    1      1       1

[8539 rows x 5 columns]
Found historical data for ce
0       2005-02-25
1       2005-02-28
2       2005-03-01
3       2005-03-02
4       2005-03-03
           ...
3196    2017-11-06
3197    2017-11-07
3198    2017-11-08
3199    2017-11-09
3200    2017-11-10
Name: date, Length: 3201, dtype: object
0      2017-01-03
1      2017-01-04
2      2017-01-05
3      2017-01-06
4      2017-01-09
          ...
823    2020-04-13
824    2020-04-14
825    2020-04-15
826    2020-04-16
827    2020-04-17
Name: date, Length: 828, dtype: object
            open  high  low  close  volume
date
2017-02-17     2     2    2      2       2
2017-05-18     2     2    2      2       2
2017-05-22     2     2    2      2       2
2017-05-23     2     2    2      2       2
2017-05-24     2     2    2      2       2
...          ...   ...  ...    ...     ...
2010-03-19     1     1    1      1       1
2010-03-22     1     1    1      1       1
2010-03-23     1     1    1      1       1
2010-03-24     1     1    1      1       1
2020-04-17     1     1    1      1       1

[3811 rows x 5 columns]
Found historical data for peg
0       1980-01-02
1       1980-01-03
2       1980-01-04
3       1980-01-07
4       1980-01-08
           ...
9545    2017-11-06
9546    2017-11-07
9547    2017-11-08
9548    2017-11-09
9549    2017-11-10
Name: date, Length: 9550, dtype: object
0      2017-01-03
1      2017-01-04
2      2017-01-05
3      2017-01-06
4      2017-01-09
          ...
823    2020-04-13
824    2020-04-14
825    2020-04-15
826    2020-04-16
827    2020-04-17
Name: date, Length: 828, dtype: object
            open  high  low  close  volume
date
2017-06-14     2     2    2      2       2
2017-08-16     2     2    2      2       2
2017-08-01     2     2    2      2       2
2017-08-02     2     2    2      2       2
2017-08-03     2     2    2      2       2
...          ...   ...  ...    ...     ...
1993-05-25     1     1    1      1       1
1993-05-26     1     1    1      1       1
1993-05-27     1     1    1      1       1
1993-05-28     1     1    1      1       1
2020-04-17     1     1    1      1       1

[10160 rows x 5 columns]
Found historical data for ual
0       2006-01-25
1       2006-01-26
2       2006-01-27
3       2006-01-30
4       2006-01-31
           ...
2967    2017-11-06
2968    2017-11-07
2969    2017-11-08
2970    2017-11-09
2971    2017-11-10
Name: date, Length: 2972, dtype: object
0      2017-01-03
1      2017-01-04
2      2017-01-05
3      2017-01-06
4      2017-01-09
          ...
823    2020-04-13
824    2020-04-14
825    2020-04-15
826    2020-04-16
827    2020-04-17
Name: date, Length: 828, dtype: object
            open  high  low  close  volume
date
2017-04-21     2     2    2      2       2
2017-02-13     2     2    2      2       2
2017-03-10     2     2    2      2       2
2017-03-09     2     2    2      2       2
2017-03-08     2     2    2      2       2
...          ...   ...  ...    ...     ...
2010-10-26     1     1    1      1       1
2010-10-27     1     1    1      1       1
2010-10-28     1     1    1      1       1
2010-10-29     1     1    1      1       1
2020-04-17     1     1    1      1       1

[3582 rows x 5 columns]
Found historical data for rost
0       1986-07-09
1       1986-07-10
2       1986-07-11
3       1986-07-14
4       1986-07-15
           ...
7896    2017-11-06
7897    2017-11-07
7898    2017-11-08
7899    2017-11-09
7900    2017-11-10
Name: date, Length: 7901, dtype: object
0      2017-01-03
1      2017-01-04
2      2017-01-05
3      2017-01-06
4      2017-01-09
          ...
823    2020-04-13
824    2020-04-14
825    2020-04-15
826    2020-04-16
827    2020-04-17
Name: date, Length: 828, dtype: object
            open  high  low  close  volume
date
2017-11-08     2     2    2      2       2
2017-04-10     2     2    2      2       2
2017-04-26     2     2    2      2       2
2017-04-25     2     2    2      2       2
2017-04-24     2     2    2      2       2
...          ...   ...  ...    ...     ...
1997-09-17     1     1    1      1       1
1997-09-16     1     1    1      1       1
1997-09-15     1     1    1      1       1
1997-09-12     1     1    1      1       1
2020-04-17     1     1    1      1       1

[8511 rows x 5 columns]
Found historical data for eqix
0       2005-02-25
1       2005-02-28
2       2005-03-01
3       2005-03-02
4       2005-03-03
           ...
3196    2017-11-06
3197    2017-11-07
3198    2017-11-08
3199    2017-11-09
3200    2017-11-10
Name: date, Length: 3201, dtype: object
0      2017-01-03
1      2017-01-04
2      2017-01-05
3      2017-01-06
4      2017-01-09
          ...
823    2020-04-13
824    2020-04-14
825    2020-04-15
826    2020-04-16
827    2020-04-17
Name: date, Length: 828, dtype: object
            open  high  low  close  volume
date
2017-02-17     2     2    2      2       2
2017-05-18     2     2    2      2       2
2017-05-22     2     2    2      2       2
2017-05-23     2     2    2      2       2
2017-05-24     2     2    2      2       2
...          ...   ...  ...    ...     ...
2010-03-19     1     1    1      1       1
2010-03-22     1     1    1      1       1
2010-03-23     1     1    1      1       1
2010-03-24     1     1    1      1       1
2020-04-17     1     1    1      1       1

[3811 rows x 5 columns]
Found historical data for so
0       1981-12-31
1       1982-01-04
2       1982-01-05
3       1982-01-06
4       1982-01-07
           ...
9038    2017-11-06
9039    2017-11-07
9040    2017-11-08
9041    2017-11-09
9042    2017-11-10
Name: date, Length: 9043, dtype: object
0      2017-01-03
1      2017-01-04
2      2017-01-05
3      2017-01-06
4      2017-01-09
          ...
823    2020-04-13
824    2020-04-14
825    2020-04-15
826    2020-04-16
827    2020-04-17
Name: date, Length: 828, dtype: object
            open  high  low  close  volume
date
2017-07-28     2     2    2      2       2
2017-04-10     2     2    2      2       2
2017-10-30     2     2    2      2       2
2017-10-31     2     2    2      2       2
2017-11-01     2     2    2      2       2
...          ...   ...  ...    ...     ...
1994-09-22     1     1    1      1       1
1994-09-23     1     1    1      1       1
1994-09-26     1     1    1      1       1
1994-09-27     1     1    1      1       1
2020-04-17     1     1    1      1       1

[9653 rows x 5 columns]
Found historical data for rop
0       2005-02-25
1       2005-02-28
2       2005-03-01
3       2005-03-02
4       2005-03-03
           ...
3196    2017-11-06
3197    2017-11-07
3198    2017-11-08
3199    2017-11-09
3200    2017-11-10
Name: date, Length: 3201, dtype: object
0      2017-01-03
1      2017-01-04
2      2017-01-05
3      2017-01-06
4      2017-01-09
          ...
823    2020-04-13
824    2020-04-14
825    2020-04-15
826    2020-04-16
827    2020-04-17
Name: date, Length: 828, dtype: object
            open  high  low  close  volume
date
2017-02-17     2     2    2      2       2
2017-05-18     2     2    2      2       2
2017-05-22     2     2    2      2       2
2017-05-23     2     2    2      2       2
2017-05-24     2     2    2      2       2
...          ...   ...  ...    ...     ...
2010-03-19     1     1    1      1       1
2010-03-22     1     1    1      1       1
2010-03-23     1     1    1      1       1
2010-03-24     1     1    1      1       1
2020-04-17     1     1    1      1       1

[3811 rows x 5 columns]
Found historical data for efx
0       1987-11-05
1       1987-11-06
2       1987-11-09
3       1987-11-10
4       1987-11-11
           ...
7561    2017-11-06
7562    2017-11-07
7563    2017-11-08
7564    2017-11-09
7565    2017-11-10
Name: date, Length: 7566, dtype: object
0      2017-01-03
1      2017-01-04
2      2017-01-05
3      2017-01-06
4      2017-01-09
          ...
823    2020-04-13
824    2020-04-14
825    2020-04-15
826    2020-04-16
827    2020-04-17
Name: date, Length: 828, dtype: object
            open  high  low  close  volume
date
2017-05-09     2     2    2      2       2
2017-04-18     2     2    2      2       2
2017-05-04     2     2    2      2       2
2017-05-03     2     2    2      2       2
2017-05-02     2     2    2      2       2
...          ...   ...  ...    ...     ...
1998-08-11     1     1    1      1       1
1998-08-10     1     1    1      1       1
1998-08-07     1     1    1      1       1
1998-08-06     1     1    1      1       1
2020-04-17     1     1    1      1       1

[8176 rows x 5 columns]
Found historical data for lb
0       1985-07-01
1       1985-07-02
2       1985-07-03
3       1985-07-05
4       1985-07-08
           ...
8155    2017-11-06
8156    2017-11-07
8157    2017-11-08
8158    2017-11-09
8159    2017-11-10
Name: date, Length: 8160, dtype: object
0      2017-01-03
1      2017-01-04
2      2017-01-05
3      2017-01-06
4      2017-01-09
          ...
823    2020-04-13
824    2020-04-14
825    2020-04-15
826    2020-04-16
827    2020-04-17
Name: date, Length: 828, dtype: object
            open  high  low  close  volume
date
2017-10-17     2     2    2      2       2
2017-04-10     2     2    2      2       2
2017-04-26     2     2    2      2       2
2017-04-25     2     2    2      2       2
2017-04-24     2     2    2      2       2
...          ...   ...  ...    ...     ...
1997-01-14     1     1    1      1       1
1997-01-13     1     1    1      1       1
1997-01-10     1     1    1      1       1
1997-01-09     1     1    1      1       1
2020-04-17     1     1    1      1       1

[8770 rows x 5 columns]
Found historical data for adbe
0       1986-08-14
1       1986-08-15
2       1986-08-18
3       1986-08-19
4       1986-08-20
           ...
7871    2017-11-06
7872    2017-11-07
7873    2017-11-08
7874    2017-11-09
7875    2017-11-10
Name: date, Length: 7876, dtype: object
0      2017-01-03
1      2017-01-04
2      2017-01-05
3      2017-01-06
4      2017-01-09
          ...
823    2020-04-13
824    2020-04-14
825    2020-04-15
826    2020-04-16
827    2020-04-17
Name: date, Length: 828, dtype: object
            open  high  low  close  volume
date
2017-11-09     2     2    2      2       2
2017-04-10     2     2    2      2       2
2017-04-26     2     2    2      2       2
2017-04-25     2     2    2      2       2
2017-04-24     2     2    2      2       2
...          ...   ...  ...    ...     ...
1997-10-14     1     1    1      1       1
1997-10-13     1     1    1      1       1
1997-10-10     1     1    1      1       1
1997-10-09     1     1    1      1       1
2020-04-17     1     1    1      1       1

[8486 rows x 5 columns]
Found historical data for pvh
0       2005-02-25
1       2005-02-28
2       2005-03-01
3       2005-03-02
4       2005-03-03
           ...
3196    2017-11-06
3197    2017-11-07
3198    2017-11-08
3199    2017-11-09
3200    2017-11-10
Name: date, Length: 3201, dtype: object
0      2017-01-03
1      2017-01-04
2      2017-01-05
3      2017-01-06
4      2017-01-09
          ...
823    2020-04-13
824    2020-04-14
825    2020-04-15
826    2020-04-16
827    2020-04-17
Name: date, Length: 828, dtype: object
            open  high  low  close  volume
date
2017-02-17     2     2    2      2       2
2017-05-18     2     2    2      2       2
2017-05-22     2     2    2      2       2
2017-05-23     2     2    2      2       2
2017-05-24     2     2    2      2       2
...          ...   ...  ...    ...     ...
2010-03-19     1     1    1      1       1
2010-03-22     1     1    1      1       1
2010-03-23     1     1    1      1       1
2010-03-24     1     1    1      1       1
2020-04-17     1     1    1      1       1

[3811 rows x 5 columns]
Found historical data for are
0       2005-02-25
1       2005-02-28
2       2005-03-01
3       2005-03-02
4       2005-03-03
           ...
3196    2017-11-06
3197    2017-11-07
3198    2017-11-08
3199    2017-11-09
3200    2017-11-10
Name: date, Length: 3201, dtype: object
0      2017-01-03
1      2017-01-04
2      2017-01-05
3      2017-01-06
4      2017-01-09
          ...
823    2020-04-13
824    2020-04-14
825    2020-04-15
826    2020-04-16
827    2020-04-17
Name: date, Length: 828, dtype: object
            open  high  low  close  volume
date
2017-02-17     2     2    2      2       2
2017-05-18     2     2    2      2       2
2017-05-22     2     2    2      2       2
2017-05-23     2     2    2      2       2
2017-05-24     2     2    2      2       2
...          ...   ...  ...    ...     ...
2010-03-19     1     1    1      1       1
2010-03-22     1     1    1      1       1
2010-03-23     1     1    1      1       1
2010-03-24     1     1    1      1       1
2020-04-17     1     1    1      1       1

[3811 rows x 5 columns]
Found historical data for cern
0       2005-02-25
1       2005-02-28
2       2005-03-01
3       2005-03-02
4       2005-03-03
           ...
3196    2017-11-06
3197    2017-11-07
3198    2017-11-08
3199    2017-11-09
3200    2017-11-10
Name: date, Length: 3201, dtype: object
0      2017-01-03
1      2017-01-04
2      2017-01-05
3      2017-01-06
4      2017-01-09
          ...
823    2020-04-13
824    2020-04-14
825    2020-04-15
826    2020-04-16
827    2020-04-17
Name: date, Length: 828, dtype: object
            open  high  low  close  volume
date
2017-02-17     2     2    2      2       2
2017-05-18     2     2    2      2       2
2017-05-22     2     2    2      2       2
2017-05-23     2     2    2      2       2
2017-05-24     2     2    2      2       2
...          ...   ...  ...    ...     ...
2010-03-19     1     1    1      1       1
2010-03-22     1     1    1      1       1
2010-03-23     1     1    1      1       1
2010-03-24     1     1    1      1       1
2020-04-17     1     1    1      1       1

[3811 rows x 5 columns]
Found historical data for vno
0       2005-02-25
1       2005-02-28
2       2005-03-01
3       2005-03-02
4       2005-03-03
           ...
3196    2017-11-06
3197    2017-11-07
3198    2017-11-08
3199    2017-11-09
3200    2017-11-10
Name: date, Length: 3201, dtype: object
0      2017-01-03
1      2017-01-04
2      2017-01-05
3      2017-01-06
4      2017-01-09
          ...
823    2020-04-13
824    2020-04-14
825    2020-04-15
826    2020-04-16
827    2020-04-17
Name: date, Length: 828, dtype: object
            open  high  low  close  volume
date
2017-02-17     2     2    2      2       2
2017-05-18     2     2    2      2       2
2017-05-22     2     2    2      2       2
2017-05-23     2     2    2      2       2
2017-05-24     2     2    2      2       2
...          ...   ...  ...    ...     ...
2010-03-19     1     1    1      1       1
2010-03-22     1     1    1      1       1
2010-03-23     1     1    1      1       1
2010-03-24     1     1    1      1       1
2020-04-17     1     1    1      1       1

[3811 rows x 5 columns]
Found historical data for pg
0        1970-01-02
1        1970-01-05
2        1970-01-06
3        1970-01-07
4        1970-01-08
            ...
12070    2017-11-06
12071    2017-11-07
12072    2017-11-08
12073    2017-11-09
12074    2017-11-10
Name: date, Length: 12075, dtype: object
0      2017-01-03
1      2017-01-04
2      2017-01-05
3      2017-01-06
4      2017-01-09
          ...
823    2020-04-13
824    2020-04-14
825    2020-04-15
826    2020-04-16
827    2020-04-17
Name: date, Length: 828, dtype: object
            open  high  low  close  volume
date
2017-05-12     2     2    2      2       2
2017-04-21     2     2    2      2       2
2017-04-19     2     2    2      2       2
2017-04-18     2     2    2      2       2
2017-04-17     2     2    2      2       2
...          ...   ...  ...    ...     ...
1986-10-01     1     1    1      1       1
1986-10-02     1     1    1      1       1
1986-10-03     1     1    1      1       1
1986-10-06     1     1    1      1       1
2020-04-17     1     1    1      1       1

[12685 rows x 5 columns]
Found historical data for emr
0       1982-01-04
1       1982-01-05
2       1982-01-06
3       1982-01-07
4       1982-01-08
           ...
9039    2017-11-06
9040    2017-11-07
9041    2017-11-08
9042    2017-11-09
9043    2017-11-10
Name: date, Length: 9044, dtype: object
0      2017-01-03
1      2017-01-04
2      2017-01-05
3      2017-01-06
4      2017-01-09
          ...
823    2020-04-13
824    2020-04-14
825    2020-04-15
826    2020-04-16
827    2020-04-17
Name: date, Length: 828, dtype: object
            open  high  low  close  volume
date
2017-07-28     2     2    2      2       2
2017-04-10     2     2    2      2       2
2017-10-30     2     2    2      2       2
2017-10-31     2     2    2      2       2
2017-11-01     2     2    2      2       2
...          ...   ...  ...    ...     ...
1994-09-23     1     1    1      1       1
1994-09-26     1     1    1      1       1
1994-09-27     1     1    1      1       1
1994-09-28     1     1    1      1       1
2020-04-17     1     1    1      1       1

[9654 rows x 5 columns]
Found historical data for ni
0       1984-10-19
1       1984-10-22
2       1984-10-23
3       1984-10-24
4       1984-10-25
           ...
8330    2017-11-06
8331    2017-11-07
8332    2017-11-08
8333    2017-11-09
8334    2017-11-10
Name: date, Length: 8335, dtype: object
0      2017-01-03
1      2017-01-04
2      2017-01-05
3      2017-01-06
4      2017-01-09
          ...
823    2020-04-13
824    2020-04-14
825    2020-04-15
826    2020-04-16
827    2020-04-17
Name: date, Length: 828, dtype: object
            open  high  low  close  volume
date
2017-10-02     2     2    2      2       2
2017-04-10     2     2    2      2       2
2017-04-26     2     2    2      2       2
2017-04-25     2     2    2      2       2
2017-04-24     2     2    2      2       2
...          ...   ...  ...    ...     ...
1996-07-30     1     1    1      1       1
1996-07-29     1     1    1      1       1
1996-07-26     1     1    1      1       1
1996-07-25     1     1    1      1       1
2020-04-17     1     1    1      1       1

[8945 rows x 5 columns]
Found historical data for ph
0       1985-07-01
1       1985-07-02
2       1985-07-03
3       1985-07-05
4       1985-07-08
           ...
8155    2017-11-06
8156    2017-11-07
8157    2017-11-08
8158    2017-11-09
8159    2017-11-10
Name: date, Length: 8160, dtype: object
0      2017-01-03
1      2017-01-04
2      2017-01-05
3      2017-01-06
4      2017-01-09
          ...
823    2020-04-13
824    2020-04-14
825    2020-04-15
826    2020-04-16
827    2020-04-17
Name: date, Length: 828, dtype: object
            open  high  low  close  volume
date
2017-10-17     2     2    2      2       2
2017-04-10     2     2    2      2       2
2017-04-26     2     2    2      2       2
2017-04-25     2     2    2      2       2
2017-04-24     2     2    2      2       2
...          ...   ...  ...    ...     ...
1997-01-14     1     1    1      1       1
1997-01-13     1     1    1      1       1
1997-01-10     1     1    1      1       1
1997-01-09     1     1    1      1       1